.column-1 {
  background-color: red;
  display: inline-block;
  vertical-align: text-top;
  width: 50%;
  height: 1100px;
  font-family: times;
  }
#lightning {
  width: 40%;
}
​
.column-2 {
  background-color: blue;
  display: inline-block;
  vertical-align: text-top;
  width: 50%;
  height: 1100px;
  font-family: helvetica;
}
​footer {
  clear: both;
  text-align: center;
}